---
layout: layouts/project
tags: project-tool
---

<div class="row">
	<div class="col-12 col-lg-6 order-lg-2 text text-center text-lg-end">
		<img class="my-2 me-2" style="width: 200px;" src="https://github.com/fennifith/Attribouter/raw/main/.github/images/attribouter-contributors.png?raw=true">
		<img class="my-2" style="width: 200px;" src="https://github.com/fennifith/Attribouter/raw/main/.github/images/attribouter-contributor.png?raw=true">
	</div>
	<div class="col-12 col-lg-6 py-3 align-self-center text-center text-lg-start">
		<h3>Contributor Profiles</h3>
		<p>Automatically fetches profile information to provide the most recent content - powered by <a href="/projects/git-rest-wrapper/">git-rest-wrapper</a>.</p>
	</div>
</div>

===

<div class="row">
	<div class="col-12 col-lg-6 text text-center text-lg-start">
		<img class="my-2 me-2" style="width: 200px;" src="https://github.com/fennifith/Attribouter/raw/main/.github/images/attribouter-licenses.png?raw=true">
		<img class="my-2" style="width: 200px;" src="https://github.com/fennifith/Attribouter/raw/main/.github/images/attribouter-license.png?raw=true">
	</div>
	<div class="col-12 col-lg-6 py-3 align-self-center text-center text-lg-start">
		<h3>License Information</h3>
		<p>Uses the <a href="https://docs.github.com/en/free-pro-team@latest/rest/reference/licenses">GitHub Licenses API</a> to provide complete license information about the application's dependencies.</p>
	</div>
</div>

===

<div class="row">
	<div class="col-12 col-lg-6 order-lg-2 text text-center text-lg-end">
		<img class="my-2 me-2" style="width: 200px;" src="https://github.com/fennifith/Attribouter/raw/main/.github/images/attribouter-night.png?raw=true">
		<img class="my-2" style="width: 200px;" src="https://github.com/fennifith/Attribouter/raw/main/.github/images/attribouter-contributors.png?raw=true">
	</div>
	<div class="col-12 col-lg-6 py-3 align-self-center text-center text-lg-start">
		<h3>Night Theme</h3>
		<p>Adapts to the user's <a href="https://developer.android.com/guide/topics/ui/look-and-feel/darktheme">Dark Mode settings</a> to present a consistent experience across the device.</p>
	</div>
</div>

===

<div class="row">
	<div class="col-12 col-lg-3 text-center">
		<img class="mt-3 my-lg-3" style="width: 150px;" src="https://raw.githubusercontent.com/fennifith/Attribouter/main/.github/images/icon.png">
	</div>
	<div class="col-12 col-lg-9 py-3 align-self-center text-center text-lg-start">
		<p>Special thanks to <a href="https://twitter.com/kevttob">Kevin Aguilar</a> and <a href="https://221pxls.com/">221 Pixels</a> for helping improve the libary's design/interface and creating the awesome logo!</p>
	</div>
</div>


