---
layout: layouts/project
tags: project-tool
---

<div class="text text-center">
	<i class="material-icons" style="font-size: 100px;">devices</i>
	<h3 class="mb-0">Multi-platform support</h3>
	<p class="mt-0">Written in Kotlin, the library has seamless compatibility with JavaScript, NodeJS, JVM, and Android platforms. </p>
</div>

===

<div class="row">
	<div class="col-12 col-lg-8 order-lg-2">
{% capture codeblock %}
```json
{
    "id": "user",
	"name": "User Human",
	"url": "https://code.horrific.dev/user",
	"avatarUrl": "https://example.com/photo.png",
	"websiteUrl": "https://example.com"
}
```
{% endcapture %}
{{ codeblock | markdownify }}
	</div>
	<div class="col-12 col-lg-4 py-3 align-self-center text-center text-lg-start">
		<h3>Consistent data representation</h3>
		<p>Information from multiple git hosting providers is standardized as a single, consistent data model.</p>
	</div>
</div>

===

<div class="row">
	<div class="col-12 col-lg-4 order-lg-2 text-center">
		<i class="material-icons" style="font-size: 100px;">offline_bolt</i>
	</div>
	<div class="col-12 col-lg-8 py-3 text-center text-lg-start">
		<h3>Built-in caching &amp; fallback behavior</h3>
		<p>Provides extensible in-memory and "disk" / localStorage-based caching implementations.</p>
	</div>
</div>


