---
layout: base
pagination:
  data: git.wikis
  size: 1
  addAllPagesToCollections: true
permalink: "projects/{{ pagination.items[0].id }}/wiki/{{ pagination.items[0].page }}.html"
eleventyComputed:
  title: "{{ pagination.items[0].project.title }} Wiki"
---

<div class="bg-dark">
	<div class="container my-3">
		{% for wiki in pagination.items %}
		<a class="link me-0" href="/projects/">
			<span class="link-title">Projects</span>
		</a>
		<a class="link me-0" href="/projects/{{ wiki.id }}/">
			{% include "ic/chevron_right.svg", class: "link-img" %}
			<span class="link-title">{{ wiki.project.title }}</span>
		</a>
		<a class="link" href="/projects/{{ wiki.id }}/wiki/">
			{% include "ic/chevron_right.svg", class: "link-img" %}
			<span class="link-title">Wiki</span>
		</a>
	</div>
</div>

<div class="container mt-3 mb-5">
	{% if wiki.page == "index" %}
	<h1>{{ wiki.project.title }} Wiki</h1>
	{% else %}
	<h1>{{ wiki.title }}</h1>
	{% endif %}

	<div class="text">
		{{ wiki.content | markdownify }}
	</div>
	{% endfor %}
</div>
