{% if nav %}
  <nav class="nav nav-bar">
    <a class="nav-item{% if page.url == "/" %} active{% endif %}" href="/" aria-label="Home">
      {% include "ic/home.svg", class: "nav-item-img" %}
      <span class="nav-item-title">Home</span>
    </a>
    {% for item in nav.pages %}
      {% assign isCurrentPage = page.url | starts_with: item.url %}
      <a class="nav-item{% if isCurrentPage %} active{% endif %}" href="{{ item.url }}" aria-label="{{ item.title }}">
        {% include "ic/{{ item.icon }}.svg", class: "nav-item-img" %}
        <span class="nav-item-title">{{ item.title }}</span>
      </a>
    {% endfor %}
  </nav>
{% endif %}