---
layout: base
permalink: /blog/
---

<section class="border-bottom py-4">
	<div class="container">
		<h1>The Blog</h1>

		<div class="text">
			<p>
				I don't tend to make blog posts often as it takes quite a while to write
				them, but when I do, it's usually something I care about - discussions
				about software design, open source, and the occasional essay written for
				a class that I've decided to reuse.
			</p>
			<p>
				Needless to say, these posts are always a work in progress, and I
				welcome any feedback or criticism of my writing.
			</p>
			<p>
				For updates, feel free to follow me on <a href="{{ meta.links.twitter }}">Twitter</a>
				or <a href="{{ meta.links.fediverse }}">Mastodon</a> - or use this blog's
				<a href="./feed.xml">RSS feed</a>.
			</p>
		</div>
	</div>
</section>

<main class="container">
	{% assign year = "" %}
	{% for blog in collections.blog reversed %}
	{% assign year2 = blog.date | date: "%Y" %}
	{% if year != year2 %}
	{% assign year = year2 %}
	<h3>{{ year }}</h3>
	{% endif %}
	{% include "item/blog-compact", blog: blog %}
	{% endfor %}
</main>
