---
layout: base
permalink: /
---

<section class="border-bottom py-4">
	<div class="container">
		<div class="row" style="min-height: 350px;">
			<div class="col text d-flex flex-column justify-content-center">
				<h1>About me.</h1>
				<p>
					Hi, I'm James! I do a lot of things on the internet.
				</p>
				<p>
					You might know me from my involvement in <a href="https://unicorn-utterances.com">Unicorn Utterances</a>,
					some of my <a href="/projects">open source projects</a>, or maybe even my <a href="/music">music production</a> work.
					Nearly everything that I make is open source <a href="/community/">in some form</a>, and I usually accept pull requests in all of my projects unless stated
					otherwise.
				</p>

				<div class="d-flex">
					{% assign links = "fediverse linkedin twitch youtube discord" | split: " " %}
					{% for link in links %}
					<a rel="me" class="link" href="{{ meta.links[link] }}" aria-label="{{ link | capitalize }}" title="{{ link | capitalize }}">
						{% include "ic/{{ link }}.svg", class: "link-img" %}
					</a>
					{% endfor %}
				</div>
			</div>

			<div class="d-none d-md-flex align-items-center col-auto ps-5">
				<img style="height: 200px;" class="border border-tertiary rounded-circle" src="/images/me.webp" width="200" height="200" alt="My profile picture.">
			</div>
		</div>
	</div>
</section>
<main class="container">
	<h2 class="mt-3 mb-4">Things I've done</h2>

	<div class="row">
		<div class="col col-12 col-lg-6 pb-3">
			<div class="card h-100" onclick="location.href = 'https:\/\/music.jfenn.me';">
				<a class="card-title" href="https://music.jfenn.me">Music</a>
				<div class="card-body">
					I create electronic music under the name "fennifith" on most platforms - the majority of which is available
					for reuse under <a href="https://creativecommons.org/licenses/by-nc/3.0/">CC BY-NC</a>.
				</div>
				<div class="card-actions">
					<a rel="me" class="link" href="{{ meta.links.bandcamp }}">
						{% include "ic/bandcamp.svg", class: "link-img" %}
						<span class="link-title">Listen on Bandcamp</span>
					</a>
				</div>
			</div>
		</div>

		<div class="col col-12 col-lg-6 pb-3">
			<div class="card card h-100" onclick="location.href = 'https:/\/unicorn-utterances.com/unicorns/fennifith';">
				<a class="card-title" href="https:/\/unicorn-utterances.com/unicorns/fennifith">Writing</a>
				<div class="card-body">
					Most of my technical writing is on <a href="https://unicorn-utterances.com">Unicorn Utterances</a>,
					a helpful and welcoming community with a focus on educational programming content.
					<br><br>
					If you're interested in learning more about computers, make sure to check out our posts and join
					<a href="{{ meta.links.discord }}">our Discord</a>!
				</div>
			</div>
		</div>
	</div>

	<h2 class="mt-5">Latest blog posts</h2>
	{% assign blogs = collections.blog | reverse %}
	{% for blog in blogs limit:3 %}
	{% include "item/blog.liquid", blog: blog %}
	{% endfor %}

	<h2 class="mt-5">Other cool people</h2>
	{% assign people = "jahir.dev pancodemakes.me spb.li philippeloctaux.com wilkie.how crutchcorn.dev ajd.sh af.codes xenophorium.dev erikboesen.com ruck.dev jacky.wtf tommyemo.net justinkruit.com maxkeppeler.com 221pxls.com jarednelsen.dev saket.me mccormick.cx tik.dev mikepenz.dev vukashin.xyz" | split: " " %}
	<p>
		{% for person in people %}
		<a href="https://{{ person }}/">{{ person }}</a>
		{% unless forloop.last %}&middot;{% endunless %}
		{% endfor %}
	</p>
</main>
