---
pagination:
  data: meta.links
  size: 1
permalink: "links/{{ pagination.items[0] }}.html"
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Redirecting&hellip;</title>

{% set link = meta.links[pagination.items[0]] %}
<link rel="canonical" href="{{ link }}" />
<script>location="{{ link }}";</script>
<meta http-equiv="refresh" content="0; URL='{{ link }}'" />
<meta name="robots" content="noindex" />
</head>
<body>
Redirecting to <a href="{{ link }}">{{ link }}</a>.
</body>
</html>
