<!DOCTYPE html>

<html lang="en">
<head>
	{% include "head.liquid" %}
</head>
<body class="{% if nav and navHidden != true %}nav-container {% endif %}footer-container">
	{% include "scripts-top.liquid" %}

	{{ content | safe }}

	{% include "scripts" %}
</body>
</html>
