---
---
<!DOCTYPE html>

<html lang="en">
  <head>
    {% assign project = git.projects | where: 'id', page.fileSlug | first %}
    {% include "head", title: project.title, description: project.repo.description, icon: project.icon %}
  </head>
  <body class="nav-container footer-container">
    {% include "scripts-top" %}
    {% include "nav" %}

    <div class="bg-secondary with-image-overlay" style="--icon: url({{ project.icon }});">
      <div class="py-5">
        <div class="container text-center">
          {% if project.icon %}<img class="d-none d-md-inline" src="{{ project.icon }}" width="180" height="180" loading="lazy"/>{% endif %}
          <h1 class="text-light justify-content-center" style="text-shadow: 0 0 30px var(--accent);">{{ project.title | title }}</h1>
          <p class="mt-0 text-light-2">{{ project.repo.description }}</p>
        </div>

        <div class="mt-2 text-center">
          <a class="link link-chip mt-2" href="{{ project.repo.url }}">
            {% include "ic/git.svg", class: "link-img" %}
            <span class="link-title">Git Repo</span>
          </a>
          <a class="link link-chip mt-2" href="{{ project.repo.url }}/issues">
            {% include "ic/bug_report.svg", class: "link-img" %}
            <span class="link-title">Bug Tracker</span>
          </a>
          {% if project.repo.websiteUrl %}
            <a class="link link-chip mt-2" href="{{ project.repo.websiteUrl }}">
              {% if project.repo.websiteUrl contains "play.google.com" %}
                {% include "ic/play_store.svg", class: "link-img" %}
                <span class="link-title">Google Play</span>
              {% elsif project.repo.websiteUrl contains "npmjs.com" %}
                {% include "ic/npm.svg", class: "link-img" %}
                <span class="link-title">NPM Package</span>
              {% else %}
                {% include "ic/link.svg", class: "link-img" %}
                <span class="link-title">Website</span>
              {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="bg-accent-5 py-3">
      <div class="container">
        <div class="row pt-3">
          <div class="col col-12 col-md-6 mb-3">
            <div class="card card-accent h-100" onclick="location.href = '/community/';">
              <a class="card-title d-flex" href="/community/">
                {% include "ic/people.svg", class: "me-2" %}
                Contributing
              </a>
              <div class="card-body">
                <span>Interested in working with this project or volunteering to help? Get started here!</span>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 mb-3">
            <div class="card card-accent h-100" onclick="location.href = '/contact/';">
              <a class="card-title d-flex" href="/contact/">
                {% include "ic/email.svg", class: "me-2" %}
                Contact Me
              </a>
              <div class="card-body">
                <span>Have any questions or concerns? Don't hesitate to reach out!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if project.hasWiki %}
      <div class="bg-lighter py-4">
        <div class="container pb-2">
          <div class="row">
            <div class="col-12 col-md-auto align-self-center text-center">
              {% include "ic/book.svg", size: "100" %}
            </div>
            <div class="col-12 col-md-8 align-self-center text-center text-md-start">
              <h5 class="mb-2">Looking for documentation?</h5>
              <p class="mt-0 mb-4">Find helpful information about this project - tutorials, guides, and more!</p>
              <a class="btn btn-primary d-inline-flex align-items-center" href="./wiki/">
                Read the Wiki
                {% include "ic/chevron_right.svg" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if tags contains "project-deprecated" %}
      <div class="bg-danger-5 py-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-auto align-self-center text-center">
              {% include "ic/error_outline.svg", size: "100", class: "text-danger" %}
            </div>
            <div class="col-12 col-md-8 align-self-center text-center text-md-start">
              <h5 class="text-tertiary-1">This project is deprecated!</h5>
              <p>Pull requests may still be accepted, but I am no longer actively maintaining it and proper functionality is not guaranteed.</p>
              <p>If you would like to fork this project and continue development, please
                <a href="/contact/">contact me</a>
                so I can link to your fork from this page.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% capture lastSection %}
      <div class="row">
        <div class="col-12 col-md-auto align-self-center text-center">
          {% include "ic/source.svg", size: "100" %}
        </div>
        <div class="col-12 col-md-8 align-self-center text-center text-md-start">
          <h3 class="mb-2">Open Source</h3>
          <p class="mt-0 mb-4">
            Browse the source code, suggest changes, or
            <a href="/community/">develop it yourself</a>!
          </p>
          <a class="btn btn-primary d-inline-flex align-items-center" href="{{ project.repo.url }}">
            Git Repo
            {% include "ic/chevron_right.svg" %}
          </a>
        </div>
      </div>

      <div id="readme" class="card bg-light border-dark mt-5">
        <div class="py-2 px-4 bg-dark">
          <a class="link" href="{{ project.repo.url }}">
            {% include "ic/book.svg", class: "link-img" %}
            <span class="link-title">README.md</span>
          </a>
        </div>
        <div class="py-2 px-4 text">
          {{ project.readme | markdownify }}
        </div>
      </div>
    {% endcapture %}

    {% assign contents = content | split: '===' %}
    {% if contents.size > 1 %}
      {% assign sections = content | append: '===' | append: lastSection | split: '===' %}
    {% else %}
      {% assign sections = lastSection | split: '===' %}
    {% endif %}

    {% for section in sections %}
      <div class="bg-{% cycle 'neutral', 'lighter' %} py-4">
        <div class="container">
          {{ section | safe }}
        </div>
      </div>
    {% endfor %}

    {% include "footer" %}
    {% include "scripts" %}

  </body>
</html>